body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,table,th,td,form,fieldset,legend,textarea,input,select,textarea,button,article,aside,dialog,footer,header,section,footer,nav,figure,main{margin:0;padding:0}
article,aside,dialog,footer,header,section,footer,nav,figure,main{display:block}
html,body{height:100%}
body,input,select,textarea,button{font-family:'Courier New',Courier,monospace,sans-serif;font-size:1rem}
fieldset,li,img{border:0;vertical-align:top}
ul,ol{list-style:none}
button{overflow:visible;border:0;background-color:transparent;cursor:pointer}
button::-moz-focus-inner{padding:0;border:0}
address,caption,em{font-style:normal}
a,a:focus,a:active,a:hover{text-decoration:none}
a:hover,a:active,a:focus{background-color:transparent}
table{border-collapse:collapse;border-spacing:0}
.wrap{margin:1rem;padding:1rem;border:1px solid #ccc;background-color:#7a6f8b1f}
.header{display:flex;justify-content:space-between;align-items:center}
.cv_ava{width:180px;height:180px}
.cv_ava img{width:100%;height:100%;object-fit:cover}
.cv_intro{flex:1;text-align:center}
.cv_name{font-size:2.4rem}
.cv_desc{margin-top:.5rem;font-size:1.2rem}
.contact_title{font-weight:700;font-size:1rem}
.cv_contact{display:flex;column-gap:1rem;align-items:center;margin-top:.5em;justify-content:center}
.contact_list{display:flex;flex-direction:column;align-items:flex-start}
.main{margin-top:1.3rem}
/* .cv_cont{flex:1} */
.cont_title{font-size:1.3rem;color:#4a4372}
.cont_detail{margin-top:1.7rem}
.cont_list li{margin-top:1.2rem}
.cont_list span{display:inline-block;color:#626264;background-color:#7a6f8b1f;padding:5px 7px;margin-top:4px;border-radius:10px}
.progress{width:100%;background:#40424233;margin-top:.3rem;position:relative;height:5px}
@keyframes width {
from{width:0}
to{width:var(--percent)}
}
.progress_bar{position:absolute;top:0;left:0;bottom:0;background-color:#4a4372;-webkit-animation:width 1.4s ease-in-out .5s forwards;animation:width 1.4s ease-in-out .5s forwards}
.timeline{border-left:2px solid #4a4372;margin-left:calc(1rem - 2px);padding-left:1rem}
.timeline li{position:relative}
.timeline li::before{content:'';height:10px;width:10px;position:absolute;left:-22px;top:0;border-radius:50%;background:#4a4372;box-shadow:0 0 0 6px #7a6f8b1f}
.timeline li:last-child:after{content:'';height:2px;width:15px;position:absolute;left:-24px;bottom:0;background-color:#4a4372;box-shadow:0 0 0 6px #7a6f8b1f}
.txt_small{font-size:.8rem;color:#4a4372}
.cont_txt{margin-top:.6rem;position:relative;padding-left:1rem}
.cont_txt::before{content:'';width:5px;height:1px;background-color:#000;position:absolute;top:8px;left:4px}
@media (max-width: 768px) {
.wrap{margin:1rem}
.header{flex-direction:column-reverse}
.cv_ava{margin-bottom:1rem}
.main{flex-direction:column}
}